<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Friend Ringer Website</title>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script>
            function reloadDataDiv() {
                $("#dataDiv").load(location.href + " #dataDiv>*", "");
            } setInterval("reloadDataDiv();", 1000);
        </script>
    </head>
    <body>
        <h1>Friend ringer</h1>
        <h3>Data:</h3>
        <div id="dataDiv">
            <ul>
                {% for entry in data %}
                    <li><h4>ID: {{ entry.id }} Name: {{ entry.name }}<br>
                    Last connection UNIX timestamp: {{ entry.last_conn }}<br>
                    Active: {{ entry.active }} Ringing: {{ entry.ringing }}</h4>
                        <form action="/ring" method="post" role="form">
                            <input type="hidden" id="id" name="id" value="{{ entry.id }}">
                            <input type="submit" name="Ring..." value="{% if not entry.ringing %} Start Ringing {% else %} Stop Ringing {% endif %}">
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
