<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Friend Ringer Website</title>
    </head>
    <body>
        <h1>Friend ringer</h1>
        <h3>Data:</h3>
        <ul>
            {% for entry in data %}
                <li><h4>ID: {{ entry.id }} Name: {{ entry.name }}</h4></li>
            {% endfor %}
        </ul>
    </body>
</html>
